
.header {
  background-color: #2e0841;

  &_bar {
    max-width: 1375px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;


    &__left {
      display: flex;
      align-items: center;
    }

    p {
      font-family: Montserrat, serif;
      color: #ffffff;
    }
    object {
      fill: #ffffff;
    }
    &__logo {
      width: 50px;
      height: 50px;
      background-color: #50a3eb;
    }
    &__title {
      margin-left: 15px;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      p {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
      }
    }
    &__link{
      display: flex;
      align-items: center;
    }
    &__date {
      p {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.24em;
      }
    }
    &__switch {
      display: flex;
      align-items: center;

      p {
        font-size: 19px;
        line-height: 23px;
      }
      button {
        margin: 0 15px;
        background-color: #50a3eb;
      }
    }
  }
}
